{% load static %}
<!DOCTYPE html>
<head>
    <title>Gioele Gaggio.it</title>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'src/css/bootstrap/bootstrap.min.css' %}" /> 
    <link rel="stylesheet" type="text/css" 
    href="{% static 'src/css/main.css' %}" /> 
</head>
<body>
    {% block navbar %} {% include 'blog/navbar.html' %} {% endblock navbar %}
    <div id="main-content">
        {% block content %}{% endblock content %}
    </div>
    {% block footer %} {% include 'blog/footer.html' %} {% endblock footer %}
</body>