<div class="section-box">
    <div class="text-center">
        <h3 class="section-title">Attualmente</h3>
        <div class="section container">
            <div class="row">
                <div class="col-lg">
                    <h4>Ho Letto/Sto Leggendo</h4>
                    <div>
                        Lo Zen e l'Arte della Manutenzione della Motocicletta <span class="secondary-info">di Robert M. Pirsig</span>
                    </div>
                    <div>
                        Libro <span class="secondary-info">di Maccio Capatonda</span>
                    </div>
                    <div>
                        Slam Dunk <span class="secondary-info">di Takehiko Inoue</span>
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Ho Visto</h4>
                    <div>
                        Irrational Man <span class="secondary-info">di Woody Allen</span>
                    </div>
                    <div>
                        Psyco Pass (se01) <span class="secondary-info">di Naoyoshi Shiotani</span>
                    </div>
                    <div>
                        La Ragazza della Nebbia <span class="secondary-info">di Donato Carrisi</span>
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Sto Studiando</h4>
                    <div>
                        Giapponese
                    </div>
                    <div>
                        Kivy Framework
                    </div>
                    <div>
                        Riparazione di una bicicletta
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>