<div class="section-box">
    <div class="text-center">
        <h3 class="section-title">Recentemente</h3>
        <div class="section container">
            <div class="row">
                <div class="col-lg">
                    <h4>Ho Letto/Sto Leggendo</h4>
                    <div>
                        <span class="title">L'Arte della Guerra </span><span class="secondary-info">di Sun Tzu</span>
                    </div>
                    <div>
                        <span class="title">Girotondo </span><span class="secondary-info">di Arthur Schnitzler</span>
                    </div>
                    <div>
                        <span class="title">Il Giovane Holden </span><span class="secondary-info">di J.D. Salinger</span>
                    </div>
                    <div>
                        <span class="title">Lo Zen e l'Arte della Manutenzione della Motocicletta </span><span class="secondary-info">di Robert M. Pirsig</span>
                    </div>
                    <div>
                        <span class="title">Libro </span><span class="secondary-info">di Maccio Capatonda</span>
                    </div>
                    <div>
                        <span class="title">Slam Dunk </span><span class="secondary-info">di Takehiko Inoue</span>
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Ho Visto/Sto guardando</h4>
                    <div>
                        <span class="title">Dallas Buyers Club </span><span class="secondary-info">di Jean-Marc Vallée</span>
                    </div>
                    <div>
                        <span class="title">Mank </span><span class="secondary-info">di David Fincher</span>
                    </div>
                    <div>
                        <span class="title">Ghost in the Shell </span><span class="secondary-info">di Rupert Sanders</span>
                    </div>
                    <div>
                        <span class="title">The Office </span><span class="secondary-info">di Greg Daniels</span>
                    </div>
                    <div>
                        <span class="title">Atomic Blonde </span><span class="secondary-info">di David Leitch</span>
                    </div>
                    <div>
                        <span class="title">Irrational Man </span><span class="secondary-info">di Woody Allen</span>
                    </div>
                    <div>
                        <span class="title">La Ragazza della Nebbia </span><span class="secondary-info">di Donato Carrisi</span>
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Sto cercando di</h4>
                    <div>
                        Riparare una bicicletta
                    </div>
                    <div>
                        Scrivere un blog
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>