<div class="section-box">
    <div class="text-center">
        <h3 class="section-title">Attualmente</h3>
        <div class="section container">
            <div class="row">
                <div class="col-lg">
                    <h4>Sto Leggendo</h4>
                    <div>
                        Lore Ipsum <span class="secondary-info">di Dolor sit amet</span>
                    </div>
                    <div>
                        Lore Ipsum di Dolor sit amet
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Ho Visto</h4>
                    <div>
                        Lore Ipsum - Dolor sit amet
                    </div>
                    <div>
                        Lore Ipsum - Dolor sit amet
                    </div>
                    <div>
                        Lore Ipsum - Dolor sit amet
                    </div>
                    <div>
                        Lore Ipsum - Dolor sit amet
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Sto Studiando</h4>
                    <div>
                        Lore Ipsum - Dolor sit amet
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>