{% extends "blog/base.html" %} 
{% load static %}
{% block content %}
    <img src="{% static 'src/img/io.jpg' %}" class="main-img float-left"/>
    <h1>I'm Gioele</h1>
    <p class="main-text justified">
        Ciao! Grazie per essere qui!
    </p>
    <p class="main-text justified">Sono Gioele, un giovane fuori (per ora) e dentro, pedina volente o nolente della vita che mi è stata data. Mi piace riflettere su come la società in cui viviamo e tutti i suoi agenti esterni agiscano sulla mia personalità e sui miei pensieri.
        Questo blog sarà uno spazio di sfoghi, condivisione di idee magari effimere od utopistiche. Insomma, una raccolta di pensieri ed eventi che mi aiuteranno ad avere una mappa evolutiva di quello che mi passa per la testa. Una minuscola analisi della società in cui viviamo a partire da come si riflette su di me. Un punto di vista un po' eccentrico che però non escluderà altre opinioni o discussioni. In poche parole, un ambiente flessibile e malleabile proprio come i nostri pensieri!</p>
        <p class="main-text justified">Nelle sezioni in fondo, trovate i progetti che sto attualmente portando avanti (che siano documentabili e rintracciabili online) ed i libri, film/serie tv e album musicali che mi hanno accompagnato ultimamente. Un piccolo diario di bordo che potrà aiutarmi a capire l'origine di alcune domande o riflessioni che potranno saltarmi in testa.</p>
    <p class="main-text justified">Ognuno può far parte dell'equipaggio di questa piccola barca a remi, per questo il sito rimarrà in bianco e nero (inizialmente, è stata una scelta semplice per strutturare il blog. In seguito, si è evoluta nell'idea di rendere visibile tutto allo stesso modo per tutti) e nel futuro -se sarò abile abbastanza- implementerò un sistema di lettura per gli articoli. La meta è ovviamente ignota ed il mare sarà quasi sicuramente in tempesta. Ah già... soffro tremendamente di mal di mare.
</p>
    {% block last_post %}{% include 'blog/last_post.html' %}{% endblock last_post %}
    {% block projects %}{% include 'blog/projects.html' %}{% endblock projects %}
    {% block currently %}{% include 'blog/currently.html' %}{% endblock currently %}
{%endblock%}
