<div class="section-box">
    <div class="text-center">
        <h3 class="section-title">Ultimo Post</h3>
    </div>
    <div>
        <h1>{{ post_list.0.title }}</h1>
        <div class="justified">
            <p class="card-text text-muted h6">{{ post_list.0.created_on}} </p>
            <p class="card-text">{{post_list.0.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post_list.0.slug  %}" class="btn btn-primary">Continua a Leggere &rarr;</a>
        </div>
    </div>
</div>