.menu-img {
    width: 180px;
    height: 120px;
    display: flex;
    flex-direction: row;
    float: left;
    padding: 3ch;
}

.centered {
    margin: 0 auto;
    clear: both;
    width: 50%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container figure {
    margin: 0;
    text-align: center
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}