{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GIOELEGAGGIO.IT</title>
        <link rel="stylesheet" href="{% static 'src/css/style.css' %}">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
      </head>
    <body>
        <div style="width: 100%;">
            <div class="centered" style="text-align: center;">
                <img <img src="{% static 'src/img/separator.png' %}" style="width: 100px;"/>
                <h1 style="text-align: center;">The Menu</h1>
                <img <img src="{% static 'src/img/separator.png' %}" style="width: 100px;"/>
            </div>
        </div>
        <div class="centered">
            <div class="image-container">
                <figure>
                    <img src="{% static 'src/img/acting.png' %}" class="menu-img"/>
                    <figcaption>Acting</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'src/img/writing.png' %}" class="menu-img"/>
                    <figcaption>Writing</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'src/img/photography.png' %}" class="menu-img"/>
                    <figcaption>Photography</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'src/img/development.png' %}" class="menu-img"/>
                    <figcaption>Development</figcaption>
                </figure>
            </div>
        </div>
        <div class="centered footer" style="text-align: center;">
            <img <img src="{% static 'src/img/separator.png' %}" style="width: 100px;"/>
        </div>
    </body>
</html> 